/.externalNativeBuild
/.gradle
/.idea/artifacts/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/planningMode.xml
/.idea/workspace.xml
/.kotlin
/build
/captures
*.iml
local.properties
.cxx
.DS_Store
